<div id="qiyasi-widget" data-merchant="{{ shop.permanent_domain }}"></div>
<script src="https://qiyasi.net/widget.js" defer></script>
<script>window.addEventListener('load',function(){if(window.SizeMatcher)SizeMatcher.init();});</script>

{% schema %}
{
  "name": "قياسي - مطابقة المقاس",
  "target": "body",
  "settings": []
}
{% endschema %}
